.jumbotron{
    margin: 80px;
    padding: 20px;
    text-align: center;
    width: 50%;
    box-shadow: 0 8px 16px 6px black;
    background-color: rgba(20, 108, 197, 0.4);
}
td,th{
    border: 1px solid black;
    padding: 8px;
}

table{
    border-collapse: collapse;
    border: none;
    box-shadow: 0 8px 16px 6px black;
}

td{
    border: none;
}

.head{
    border-bottom: 3px solid #969595;
    padding: 10px;
    margin:30px;
}
p{
    margin: 55px;
    color: black;
    font-size: 20px;
}

h1{
        font-family: 'Abril Fatface', serif;
    }

h2 {
    font: 400 45px/1.0 'Just Another Hand', Helvetica, sans-serif;
    color:black;
    text-shadow: 0px 3px 0px #5e5e5e, 0px 5px 0px #4d4d4d, 0px 7px 0px #3c3c3c, 0px 9px 0px #2b2b2b, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);
  }
  span{
        font: 400 30px/1.2 'Merienda One', Helvetica, sans-serif;
        color: rgba(0,0,0,0.7);
        text-shadow: 3px 3px 3px #fff;
      }

      body, html{
          height: 100%;
          background-size: 100% 100%;
          background-attachment: fixed;
          background-image:linear-gradient(rgba(237, 239, 243, 0.774),rgba(234, 232, 241, 0.329)),url("../images/bgg.jpg" )
      }
  