#trio{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  
}

.main_header img{
  width: 10%;
  border-radius: 40%;
  background-color: rgba(24, 24, 36, 0.2);
}




.navbar.li{
  font-weight: bold;
}

.well{
    margin: 25px;
    padding: 10%;
    border: none;
    background-color: rgba(24, 24, 36, 0.2);
    text-align: center;
    
}

.jumbotron{
    opacity: 0.4;
}

h1{
    font-size: 60px;
    font-family: 'Bungee Inline', cursive;
}

p{
  font-family: 'Gabriela', serif;
  font-size: 2
}
h2{
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    margin: 6%;
    box-shadow: 0 8px 16px 6px black;
    
  }

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color: whitesmoke;
    color: black;
    transform: rotateX(-180deg);
    z-index: 1;
  }
  body, html{
    height: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(237, 239, 243, 0.774),rgba(234, 232, 241, 0.329)),url("../images/diet/dietplans.jpg" )
  }
  

  