#trio{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
}
.deep{
  font-weight: bold;
  text-align: center;
}
#carouselmint{
  padding-left: 200px;
  height: 400i;
}
#myScrollspy{
}

.picsay{
  width: 200px
}
.col-md-3{
  text-align: justify;
}
