#trio{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
}
.deep{
  font-weight: bold;
  text-align: center;
}
#carouselmint{
  padding-left: 200px;
  height: 400px;
}
#myScrollspy{
}

.picsay{
  width: 250px;
  height:200px;
  position: inherit;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

}
.col-md-3{
  text-align: justify;
}
.para{
  text-align: center;
}
.colpara{
  background-color: #eeee
}
.well{
  height: : 10px;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
